version: '3.9'

services:

  server:
    image: verba_server
    build: 
      context: .
      dockerfile: dev.Dockerfile
    container_name: verba_server
    depends_on:
      - db
    volumes:
      - ./:/usr/local/verba_server/src:rw
    ports:
      - ${API_PORT}:${API_PORT}
    command: sleep infinity


  db:
    image: postgres
    container_name: verba_database
    restart: always
    # shared memory limit
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - ${DB_PORT}:${DB_PORT}


# web admin panel (optional)
  adminer:
    image: adminer
    container_name: verba_adminer
    restart: always
    ports:
      - ${DB_WEB_ADMIN_PORT}:8080

volumes:
  pgdata: